* {
    margin: 0 0px;
    padding: 0 0px;
    background-color: white;
}

div {
    display: flex;
    text-overflow: none;
    padding-top: 10px;
    padding-left: 10px;
    background-color: aquamarine;
}

div p{
    display: block;
}


img {
    float: left;
}